*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color: #596D48;
}
body{
    display: flex;
    justify-content: center;
    background-color: var(--color);
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner{
    display: flex;
    position: relative;
}

.banner > img + div{
    position: absolute;
    background-color: black;
    top: 2in;
    width: 400px;
    height: 180px;
    opacity: 0.5;
}

.banner-content{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2.15in;
    left: 0.5in;
    gap: 20px;
}

.banner-content > img{
    height: 150px;
    width: 130px;
}

.banner-content > span{
    color: white;
    font-size: 5rem;
}

.bgImage{
    width: 400px;
    height: 100vh;
}

.container{
    display: flex;
}

.left-content{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.form-container{
    width: 700px;
    background-color: #ffffff;
    box-shadow: 0 8px 10px -5px #d3d3d3,   /* bottom */
    0 -8px 10px -5px #d3d3d3;
    height: 280px;
}

form{
    height: 200px;
    padding-top: 20px;
}

.left-content > p {
    padding: 40px;
}

.left-content > div{
    padding-left: 40px;
}

.left-content > div + div{
    padding-top: 20px;
}

.input-wrapper{
    display: flex;
    gap: 60px;
}

.dat > div > div{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

label {
    font-size: 0.8rem;
}

input{
    height: 24px;
    width: 250px;
    border: 2px var(--color) solid;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.7);
}

legend{
    padding-top: 20px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: var(--color);
    color: white;
    box-shadow: 10px 5px 10px rgb(207, 207, 207);
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

a{
    color: var(--color);
    text-decoration: none;
}

.left-content > p:last-child{
    padding-top: 100px;
    font-size: 1.2rem;
}

p{
    font-family: serif;
}

.button{
    position: absolute;
    bottom: 135px;
}